<h3>Experience laboral</h3>
<ul *ngFor="let work of workExperience">
    <li>
        <tr>
             <td>{{work.fecha}} </td>
             <td>{{work.ubicacion}} </td>
        </tr>
        <tr>
            <td>{{work.puesto}} </td>
           
        </tr>
        <tr>
            <td>{{work.empresa}} </td>

        </tr>
        
        <h4>logros:</h4>
        <ul *ngFor="let logros of work.logros">
            <li>
                <tr>
                    {{logros.descripcion}}
                </tr>
            </li>
        </ul>    




    </li>
